img {
    height: auto;
    width: auto;
}

img[src*="#pop"] {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    margin: 10px 0;
}

a.md-logo img {
    border: none;
}

.md-footer__inner:not([hidden]) {
    display: none
}